# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 184c981d7ef5007e2e7d8e8baeeadb9ad77f941f43effb71d44f3d691c18c20c5dd8dece1c6ab8521df3b805aed3e1bb8b68ad58191dcd990c52fec1b4800739

test:
  secret_key_base: d0fcc1aa359532d4bfe0abff254d557d38205dca66f3a8e985ac10dcfea5c175c044983f19d682186a45c0cb8953d6cbd71d3ec2635d04325e519ccfa6d044bb

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
